<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package is an implementation of serial
        number arithmetic.
      </p>
      <p>
        The package implements the improved algorithm published by
        <a href="https://github.com/pjkundert/sequence/">Perry Kundert</a>.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>8-bit serial number arithmetic.</li>
        <li>16-bit serial number arithmetic.</li>
        <li>24-bit serial number arithmetic.</li>
        <li>32-bit serial number arithmetic.</li>
        <li>40-bit serial number arithmetic.</li>
        <li>48-bit serial number arithmetic.</li>
        <li>56-bit serial number arithmetic.</li>
        <li>62-bit serial number arithmetic.</li>
        <li>ISC license.</li>
        <li>100% unit test coverage.</li>
      </ul>
    </subsection>
  </body>

</document>
